## Project Template for Google Code Jam
## *.out and *.vcxproj.user files need to be added to template

# prevents Git from ignoring .out files in this directory
# because we want to add *.out files to new project on initialization
!*.out

# prevents Git from ignoring .vcxproj.user files in this directory
# because the Command Arguments of Debugging is stored in this file
!*.vcxproj.user
